.USAMap{
	width: 1000px;
	z-index: -1;
}

	.mapContainer{
		width: 100%;
		padding-left: 50px;
	}

.chicagoCircle{
	position: absolute;
	top: 150px;
	left: 680px;
	z-index: 5;
	cursor: pointer;
}

.chicagoCircle > a:hover{
	color: green;
}

.bostonCircle{
	position: absolute;
	top: 133px;
	left: 955px;
	z-index: 5;
	cursor: pointer;
}

.wyomingCircle{
	position: absolute;
	top: 90px;
	left: 340px;
	z-index: 5;
	cursor: pointer;
}

.nashvilleCircle{
	position: absolute;
	top: 258px;
	left: 695px;
	z-index: 5;
	cursor: pointer;
}

.charlestonCircle{
	position: absolute;
	top: 180px;
	left: 665px;
	z-index: 5;
	cursor: pointer;
}

.bostonLine{
	position: absolute;
	top: 0px;
	left: 0px;
}
.nashvilleLine{
	position: absolute;
	top: 0px;
	left: 0px;
}
.wyomingLine{
	position: absolute;
	top: 0px;
	left: 0px;
}

.charlestonLine{
	position: absolute;
	top: 0px;
	left: 0px;
}


.infoPopup{
	color: white;
	padding: 15px;
	padding-top: 5px;
	height: 150px;
	text-align: center;
	vertical-align: center;
	background-color: rgba(3, 3, 3, .8);
	width: 300px;
	margin-left: 35%;
	border-radius: 20px;
}

.cityPopup{
	text-align: center;
	vertical-align: center;
	background-color: rgba(3, 3, 3, .8);
	color: white;
	padding: 5px;
	height: 140px;
	width: 200px;
	position: absolute;
	visibility: hidden;
	border-radius: 20px;
}

.chiPopup{
	top: 40px;
	left: 470px;
}

.wyoPopup{
	left: 140px;
	top: 40px;
}

.bosPopup{
	left: 840px;
	top: 190px;
}

.nashPopup{
	left: 750px;
	top: 220px;
}

.chlsPopup{
	left: 450px;
	top: 150px;
}

#infoContainer{
	position: absolute;
	top: 300px;
	width: 100%;
	max-width: 1000px;
	visibility: hidden;
}


@keyframes opacityIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes opacityOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes animateClsLine{
	0%{
		height: 165px;
	}
	100%{
		height: 300px;
	}
}

@keyframes animateNashLine{
	0%{
		height: 165px;
	}
	100%{
		height: 400px;
	}
}

@keyframes animateBosLine{
	0%{
		width: 690px;
	}
	100%{
		width: 1000px;
	}
}
