section{
	width: 85%;
}


.leftInfo {
	float: none;
	margin: 0;
	align-self: initial;
	width: 15%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
}

.resumeItem, .schoolItem {
	display: inline-block;
	width: 70%;
	margin-left: 2.5%;
}

@media (min-width: 580px){
	.PDFLink {
		text-align: right;
		position: fixed;
		top: 0px;
		right: 10px;
	}
}

@media (max-width: 579px){
	.PDFLink{
		text-align: center;
		width: 50%;
		position: fixed;
		top: 20px;
		left: 25%;
		right: 25%;
	}
}

.PDFLink > a, a.hover, a.visited{
	color: white;
	text-decoration: none;
}

.resume{
	margin-top: 50px;
}